@import '../../scss/variables';
.header {
    border-bottom: 1px solid $gray-line;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba( 255, 255, 255, 0.7 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    @media (max-width: 900px) {
      &__logo {
        margin-top: 20px;
        img {
          max-width: 80px;
        }
        h1 {
          font-size: 18px !important;
        }
      }
      &__cart {
        margin: 20px 0;
      }
    }
  
    &__logo {
      display: flex;
      align-items: center;

  
      h1 {
        color: #181818;
        font-size: 24px;
        letter-spacing: 1%;
        text-transform: uppercase;
        font-weight: 800;
      }
  
      p {
        color: #7b7b7b;
      }
    }
    &__cart {
      display: flex;
      align-items: center;
    }

    .dropdown {
      display: inline-block;
      position: relative;
      .dd-button {
        display: inline-block;
        padding-right: 30px;
        cursor: pointer;
        white-space: nowrap;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid black;

        }
      }
      .dd-input {
        display: none;
        & + .dd-menu {
          display: none;
        }
        &:checked + .dd-menu {
          display: block;
        } 
      }
      .dd-menu {
        position: absolute;
        top: 100%;
        left: -20px;
        border: 1px solid #ccc;
        border-radius: 7px;
        padding: 0;
        margin: 2px 0 0 0;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        background: rgba( 255, 255, 255, 0.9 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        list-style-type: none;
        li {
          padding: 10px 20px;
          cursor: pointer;
          white-space: nowrap;
          &:hover {
            background-color: #f6f6f6;
            border-radius: 7px;
          }
          a {
            display: block;
            margin: -10px -20px;
            padding: 10px 20px;
          }
        }
        @media (max-width: 768px) {
          left: -38px;
        }
      } 
    }
    
  }